<footer>
    <div id="dsgvo-wrapper">
        <button mat-button>Data privacy</button>
        <button mat-button>Terms of use</button>
    </div>
    <div [class.spacer]="true"></div>
    <div id="btn-frame">
        <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F" target="_blank">
            <button mat-icon-button><mat-icon>facebook</mat-icon></button>
        </a>
        <a href="https://www.reddit.com/" target="_blank">
            <button mat-icon-button><mat-icon>reddit</mat-icon></button>
        </a>
    </div>
</footer>