footer {
    display: flex;
    flex-direction: row;
    border-top: 3px solid black;
    background-color: #FFEC8B;
    padding: 10px 0 25px 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30px;

    #btn-frame {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 50px;
        width: 50%;
    
        button {
            width: 70px;
            height: 70px;
    
            mat-icon {
                width: inherit;
                height: inherit;
                font-size: 30px;
                transform: translate(-15%, 4%);
            }
        }
    }
}

button:hover {
    cursor: pointer;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}