#content {
    width: 100%;
    padding:20px 10px 145px 10px;

    #headline-container {
        margin-top: 1em;
        width: 100%;
    }

    #cards-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        #card-wrapper {
            width: 10%;
        }
    }

    section {
        width: 100%;
    }

    #no-cards-info-container {
        width: 100%;
        display: flex;
        justify-content: center;

        * {
            font-size: larger;
        }
    }
}