#content {
    
    padding:20px 10px 145px 10px;

    #headline-container {
        margin-top: 1em;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        width: 100%;
    }

    #cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section {
        width: 100%;
    }

    #no-cards-info-container {
        width: 100%;
        display: flex;
        justify-content: center;

        * {
            font-size: larger;
        }
    }
}