section {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/background.jpg');
    position: relative;

    #frame {
        position: absolute;
        padding: 4em;
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: goldenrod;
        border: 2px solid purple;
        background-color: 255,236,139;
        right: 40%;
        border-radius: 10px;
        z-index: 990;
    }

    #left-container {
        margin-top: 25%;
    }

    #right-container {
        margin-top: 25%;
    }
    
    .confirm-button-container {
        padding-top: 5px;
        display: flex;
        flex-direction: row-reverse;

        button {
            background-color: purple;
            color: white;
        }
    }
}

button:hover {
    cursor: pointer;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}