div {
    padding: 15px;

    img {
        // border: solid 3px black;
        // border-radius: 8px;
        box-shadow: black;
        height: 200px;
        width: auto;
        cursor: pointer;
    }
}

img:hover {
    transition-delay: 300ms;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }